body{
margin: 0;
padding: 0;
display: flex;
background-color: darkblue;
background: -webkit-linear-gradient(
-180deg, darkblue, rgb(34, 34, 216), darkblue
);
}

.container{
margin: auto;
width: 50%;
max-width: 250px;
background-color: rgba(13, 75, 209, 0.363);
padding: 20px;
box-shadow: 1px 1px 1px #202020;
margin-top: 25px;
height: 390px;
}

.container .inner{
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
height: 350px;
width: 200px;
margin: auto;
position: relative;
}

.container .inner h2{
text-transform: uppercase;
text-shadow: black;
color: yellow;
font-weight: bolder;
font-size: 45px;
margin-top: 0;
margin-bottom: 0;
}


.container .inner #countUp, #countDown{
width: 150px;
padding: 15px;
height: 35px;
border-radius: 40px;
border: none;
background-color:  yellow;
padding-bottom: 30px;
margin-top: 0;
}

.container .inner button{
font-size: 14px;
font-weight: bolder;
color: red;
text-transform: uppercase;
text-shadow: black;
text-align: center;
border: none;
box-shadow: 1px 1px 1px #202020;
}

.container .inner #number{
border: none;
width : 200px;
color: whitesmoke;
background: none;
font-size: 150px;
font-weight: bolder;
text-align: center;
margin-top: 0;
margin-bottom: 0;
}

.container .inner #countUp:hover{
background-color: darkblue;
color: whitesmoke;
width: 160px;
cursor: pointer;
}

.container .inner #countDown:hover{
background-color: darkblue;
color: whitesmoke;
width: 160px;
cursor: pointer;
}

